@import url("animations.css");

body {
    margin: 0;
    padding: 0;

    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    background-color: #fff;
}

.outline {
    outline: 1px solid red;
}

.page__wrapper {
    background-color: #eeeeee;
}

.main-page__outer-slider-wrapper {
    width: 1160px;
    overflow-x: hidden;
    margin-bottom: 80px;
    position: relative;
}

.main-page__inner-slider-wrapper {
    display: flex;
    /* width: 1160px; */
    /*margin-left: 0;*/

    /*-webkit-transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940);*/
    /*-moz-transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940);*/
    /*-o-transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940);*/
    /*transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940); !* easeOutQuad *!*/

    -webkit-transition: all 500ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -moz-transition: all 500ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -o-transition: all 500ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition: all 500ms cubic-bezier(0.215, 0.610, 0.355, 1.000); /* easeOutCubic */

    /*-webkit-transition: all 500ms cubic-bezier(0.680, 0, 0.265, 1); !* older webkit *!
    -webkit-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
    -moz-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
    -o-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550); !* easeInOutBack *!*/

    /*-webkit-transition: margin-left 0.5s;*/
    /*-moz-transition: margin-left 0.5s;*/
    /*-ms-transition: margin-left 0.5s;*/
    /*-o-transition: margin-left 0.5s;*/
    /*transition: margin-left 0.5s;*/
}

.page__container {
    width: 1160px;
    margin: 0 auto;
    display: block;
}

.page__container--flex {
    display: flex;
}

img {
    max-width: 100%;
    /*height: auto;*/
}

.container {
    width: 1160px;
    margin: 0 auto;
    display: block;
}

/*.inner-page .container {*/
/*display: flex;*/
/*}*/

.button {
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;

    text-transform: uppercase;
    text-decoration: none;

    text-align: center;
    vertical-align: middle;

    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    cursor: pointer;
    display: inline-block;
    padding: 16px 55px;

    -webkit-transition: background-color, color, 0.2s, 0.2s;
    -moz-transition: background-color, color, 0.2s, 0.2s;
    -ms-transition: background-color, color, 0.2s, 0.2s;
    -o-transition: background-color, color, 0.2s, 0.2s;
    transition: background-color, color, 0.2s, 0.2s;
}

button {
    border: none;
}

.button--red {
    background-color: #fb565a;
}

.button--red:hover {
    background-color: #e74246;
}

.button--red:active {
    background-color: #d7373b;
    color: #e37376;
}

.button--green {
    background-color: #00ca74;
}

.button--green:hover {
    background-color: #00bc6c;
}

.button--green:active {
    background-color: #00aa62;
    color: #4dc491;
}

.button--yellow {
    background-color: #efc84a;
}

.button--yellow:hover {
    background-color: #eab534;
}

.button--yellow:active {
    background-color: #e5a722;
    color: #edc265;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.page__wrapper {
    background-color: #eeeeee;
}

.page__wrapper--catalog {
    padding-bottom: 106px;
    margin-bottom: 54px;
}

.main-header {
    background-color: #eeeeee;
    padding-top: 54px;
    margin-bottom: 5px;
}

.main-header--catalog {
    margin-bottom: 66px;
}

.main-navigation {
    display: flex;
    align-items: center;
}

.site-logo {
    width: 160px;
    display: block;

    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

.site-logo:hover img {
    opacity: 0.8;
}

.site-logo:active img {
    opacity: 0.3;
}

.main-navigation__menu {
    margin: 0;
    margin-left: 200px;
    padding: 0;
    list-style: none;

    width: 440px;

    display: flex;
    justify-content: space-between;
}

.main-navigation__menu,
.basket__text {
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;

    color: #000;
    text-decoration: none;
    text-transform: uppercase;
}

.basket {
    display: block;
    position: relative;

    margin-left: auto;
    padding-left: 42px;

    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    -ms-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s;
}

.basket__img {
    margin-right: 20px;
    margin-bottom: -2px;
    fill: #a6a6a6;
}

.main-navigation__link {
    color: #000;
    text-decoration: none;

    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    -ms-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s;
}

.basket__text {
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    -ms-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s;
}

.main-navigation__link--basket {
    display: block;
    position: relative;

    margin-left: auto;
    padding-left: 42px;
}

.main-navigation__link:hover,
.basket__text:hover {
    color: #fb565a;
}

.main-navigation__link:active,
.basket__text:active {
    color: #a6a6a6;
}

.main-navigation__item--item-current {
    position: relative;
}

.main-navigation__item--item-current::after {
    content: '';

    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;

    background-color: #fb565a;
}

.slider {
    display: flex;
    min-width: 1160px;
}

.slider__slogan {
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    margin: 0;
    margin-bottom: 23px;
}

.slider__slogan--small {
    width: 380px;
}

.slider__slogan--middle {
    width: 412px;
}

.slider__slogan--large {
    width: 517px;
}

.slider__principles {
    margin: 0;
    margin-bottom: 38px;
}

.slider__about {
    padding-top: 66px;
    /*flex-grow: 1;*/
    /*flex-shrink: 1;*/
    /*flex-basis: 400px;*/
}

.slider__img-wrapper {
    min-height: 430px;
    display: flex;
}

.slider__img-wrapper--positioned {
    width: 698px;
    margin-left: 54px;
}

.slider__img {
    align-self: flex-end;
}

.slider-control-buttons {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 90px;

    display: flex;
    justify-content: space-between;

    position: absolute;
    left: 536px;
    bottom: 96px;
}

.slider-control-buttons__button {
    width: 18px;
    height: 18px;
    padding: 0;

    background-color: #fff;
    border-radius: 50%;
    border: 5px solid #fff;

    cursor: pointer;
}

.slider-control-buttons__button--active {
    -webkit-box-shadow: inset 0 0 0 2px #c2c2c2;
    box-shadow: inset 0 0 0 2px #c2c2c2;
}

.products {
    position: relative;
    margin-bottom: 121px;
}

.products__list {
    margin: 0;
    padding: 0;
    list-style: none;

    width: 1100px;
    display: flex;
    justify-content: space-between;
}

.products__item {
    width: 300px;
}

.products__title {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;

    margin: 0;
    margin-bottom: 17px;
    text-transform: uppercase;
}

.products__info {
    margin: 0;
    margin-bottom: 32px;
}

.products__img {
    margin-bottom: 25px;
}

.products__image {
    vertical-align: bottom;
}

.products__btn {
    padding-left: 40px;
    padding-right: 40px;
}

.products::after {
    content: '';

    position: absolute;
    left: 0;
    bottom: -82px;

    width: 100%;
    height: 2px;
    background-color: #eeeeee;
}

.advantages__slogan {
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;

    margin-bottom: 30px;
    padding-top: 35px;
}

.advantages {
    width: 660px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.advantages__principles {
    margin: 0;
    margin-bottom: 37px;
}

.advantages__orders {
    margin: 0;
    margin-bottom: 25px;
    text-transform: uppercase;
}

.advantages__order-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.advantages__order-item {
    margin-bottom: 24px;
    padding-left: 37px;
    position: relative;
}

.advantages__order-item--last {
    margin-bottom: 0;
}

.advantages__order-item::before {
    content: '';

    position: absolute;
    left: 0;
    top: 10px;

    width: 25px;
    height: 2px;
    background-color: #fb565a;

}

.advantage-wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;

    margin-bottom: 126px;
}

.advantage-wrapper::after {
    content: '';

    position: absolute;
    left: 0;
    bottom: -74px;

    width: 100%;
    height: 2px;
    background-color: #eeeeee;
}

.text {
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
}

.presentation {
    width: 360px;
}

.presentation__title {
    margin: 0;
    margin-bottom: 41px;
    margin-left: 17px;

    text-transform: uppercase;
}

.presentation__img {
    margin: 0;
    margin-bottom: 35px;
}

.presentation__image {
    vertical-align: bottom;
}

.presentation__table {
    border-spacing: 0;
}

.table-presentation__title {
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
    /*border: 1px solid black;*/
    padding: 0;
    padding-bottom: 20px;
    padding-right: 26px;
}

.table-presentation__title--last {
    text-align: left;
}

.table-presentation__percent {
    font-size: 28px;
    vertical-align: super;
    line-height: 0;
}

.table-presentation__column {
    font-size: 16px;
    line-height: 18px;
    padding: 0;
    /*border: 1px solid black;*/
}

.clients {
    position: relative;
    margin-bottom: 130px;
}

.clients::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -41px;
    width: 100%;
    height: 2px;
    background-color: #eeeeee;
}

.clients__list {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.clients__item {
    text-align: center;
    position: relative;
}

.clients__item--bordered::after {
    content: '';
    position: absolute;
    top: 19px;
    right: -21px;
    width: 2px;
    height: 52px;
    background-color: #eeeeee;
}

.clients__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 260px;
    height: 90px;

    opacity: 0.2;

    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}


.clients__link:hover {
    opacity: 1;
}

/*.clients__link:active {
    opacity: 0.1;
}*/

.clients__img:active {
    opacity: 0.1;
}

.contact-us h3 {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
}

.discount p {
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
}

.discount b {
    font-size: 16px;
    line-height: 22px;
}

.map {
    margin-bottom: 70px;
    background-image: url("img/png/map.jpg");
    background-position: center 0;
    background-repeat: no-repeat;
    height: 416px;
}

.page__container--map {
    position: relative;
}

.map-container {
    margin: 0;
}

.contact-us {
    width: 319px;
    padding: 49px 50px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    position: absolute;
    top: 55px;
    left: 0;

    background-color: #fff;
}

.contact-us__button {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}

.contact-us__title {
    margin: 0;
    margin-bottom: 24px;
    text-transform: uppercase;
}

.contact-us__address {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 15px;

    color: #666;
}

.contact-us__tel {
    color: #666;
    margin-bottom: 36px;
}

.contact-us__marker {
    position: absolute;
    top: 89px;
    left: 682px;
}

.contact-us__img {
    vertical-align: bottom;
}

.main-footer {
    display: flex;
    padding-bottom: 70px;
    align-items: center;
}

.main-footer__advertising {
    margin-left: 140px;
}

.advertising__sentence {
    margin: 0;
    margin-bottom: 8px;
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
}

.advertising__discount {
    font-weight: 400;
    color: #767676;
    font-size: 16px;
    line-height: 22px;
}

.social-list {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    width: 260px;
    justify-content: space-between;
}

.social-list__button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 80px;
    height: 80px;

    background-color: #e1e1e1;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    text-align: center;
    vertical-align: middle;

    transition: background-color, 0.5s;
}

.social-list__button:hover {
    background-color: #e74246;
}

.social-list__button:active {
    background-color: #d7373b;
}

.social-list__button:active .social-button__icon {
    fill: #e37376;
}

.social-button__icon:active {
    fill: #e37376;
}

.modal {
    position: fixed;
    z-index: 2;
}

.modal--form {
    width: 960px;
    left: 50%;
    top: 5px;

    /* -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); */

    padding: 82px 100px;
    padding-top: 68px;
    margin-left: -480px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    background-color: #fff;

    -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, .75);
    -moz-box-shadow: 0 0 40px rgba(0, 0, 0, .75);
    box-shadow: 0 0 40px rgba(0, 0, 0, .75);

    display: none;
}

.modal__button-close {
    width: 27px;
    height: 27px;
    border: 0;
    outline: none;
    opacity: 0.3;
    position: absolute;
    top: 78px;
    right: 90px;
    background-color: transparent;
    cursor: pointer;
    transition: opacity, 0.5s;
}

.modal__button-close:hover {
    opacity: 1;
}

.modal__button-close:active {
    opacity: 0.1;
}

.modal__button-close::before {
    content: '';
    position: absolute;
    /*right: 90px;
    top: 88px;*/
    left: 0;
    top: 11px;
    width: 27px;
    height: 5px;
    background-color: #fb565a;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.modal__button-close::after {
    content: '';
    position: absolute;
    /*right: 90px;
    top: 88px;*/
    left: 0;
    top: 11px;
    width: 27px;
    height: 5px;
    background-color: #fb565a;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.modal__title {
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;

    margin: 0;
    margin-bottom: 38px;
}

.modal-form__label {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;

    display: block;
    margin-bottom: 9px;
}

.modal-form__fieldset {
    border: none;
    padding: 0;

    display: flex;
    justify-content: space-between;

    flex-wrap: wrap;
}

.modal-form__name-wrapper,
.modal-form__mail-wrapper {
    width: 360px;
    margin: 0;
}

.modal-form__input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    width: 100%;
    font: inherit;

    border: 2px solid #d7dcde;
    border-radius: 3px;
    padding: 11px 0 11px 14px;
}

.modal-form__letter-text {
    height: 118px;
    border: 2px solid #d7dcde;;
    margin-bottom: 40px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 15px;
    padding-top: 9px;
}

.modal-form__input:hover,
.modal-form textarea:hover {
    border-color: #b4b9bb;
}

.modal-form__input:focus,
.modal-form textarea:focus {
    border-color: #000000;
    outline: none;
}

.modal-form__input--name {
    margin-bottom: 35px;
}

.modal-form__input--required {
    color: #e74246;
    border-color: #e74246;
}

.modal-form__letter-wrapper,
.modal-form textarea {
    width: 100%;
    font: inherit;
}

.modal-form__button {
    padding-left: 82px;
    padding-right: 82px;
}

/**********************************************************************************************************************
***********************************************************************************************************************
***********************************************************************************************************************/

.page__heading {
    margin: 0;
    padding: 0;

    text-align: center;
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
}

.filters {
    width: 260px;
}

.filters__form {
    user-select: none;
}

.form-filters__fieldset {
    margin: 0;
    padding: 0;
    border: 0;
    margin-bottom: 43px;
}

.form-filters__fieldset--range {
    margin-bottom: 54px;
}

.range {
    background-color: #eeeeee;
    box-sizing: border-box;
    padding: 40px 20px;
    border-radius: 3px;
}

.form-filters__range {
    margin-bottom: 14px;
}

.range__track {
    background-color: #d7dcde;
    height: 2px;
    position: relative;
}

.range__value {
    width: 152px;
    height: 2px;
    background-color: #00ca74;
}

.range__button {
    width: 20px;
    height: 20px;
    padding: 0;
    border-radius: 50%;
    position: absolute;
    top: -8px;

    background-color: #ababab;
    box-shadow: inset #fff 0px 0px 0px 8px, #cccdcd 0px 2px 1px;
    cursor: pointer;
}

.range__button--from {
    left: 0;
}

.range__button--to {
    left: 142px;
}

.range__output {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;

    justify-content: space-between;
}

.range__label {
    line-height: 22px;
    text-transform: uppercase;
}

.range__input {
    padding: 0;
    border: 0;
    margin-left: 8px;
    box-sizing: border-box;
    border-radius: 3px;

    max-width: 80px;
    background-color: #eeeeee;

    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
}

.range__input--from {
    padding: 12px 36px;
}

.range__input--to {
    padding: 12px 16px;
}

.form-filters__legend {
    padding: 0;
    margin-bottom: 14px;
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

.form-filters__legend--cost {
    margin-bottom: 49px;
}

.form-filters__input-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.form-filters__radio-item,
.form-filters__checkbox-item {
    margin-bottom: 16px;
}

.form-filters__radio-item--last {
    margin-bottom: 0;
}

.form-filters__checkbox-item--last {
    margin-bottom: 47px;
}

.form-filters__label {
    padding-left: 36px;
    position: relative;
    cursor: pointer;
    color: #283136;
    font-size: 16px;
    line-height: 20px;
}

.form-filters__label:hover,
.form-filters__label:hover {
    color: #000;
}

.form-filters__radio:checked + .form-filters__radio-title::before {
    background-color: #000;
}

.form-filters__radio:focus + .form-filters__radio-title::before {
    opacity: .6;
}

.form-filters__radio:hover + .form-filters__radio-title::before {
    opacity: .6;
}

.form-filters__radio-title::before {
    content: '';
    position: absolute;
    left: 0;
    top: -2px;
    width: 9px;
    height: 9px;
    padding: 4px;
    border: 4px solid #000;
    border-radius: 50%;
    background-clip: content-box;
    opacity: .3;
}

.form-filters__label--checkbox::before {
    content: '';
    position: absolute;
    left: 0;
    top: -2px;
    width: 27px;
    height: 23px;
    background-image: url("img/svg/checkbox-off.svg");
    background-repeat: no-repeat;
    background-position: left center;
    opacity: .4;
}

.form-filters__label--checkbox:hover::before,
.form-filters__checkbox:focus + .form-filters__label--checkbox::before {
    opacity: 1;
}

.form-filters__checkbox:checked + .form-filters__label--checkbox::before {
    background-image: url("img/svg/checkbox-on.svg");
}

.form-filters__radio-title {
    font-size: 16px;
    line-height: 20px;
}

.form-filters__button {
    padding: 16px 90px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    font-size: 16px;
    line-height: 18px;
    font-weight: 500;

    color: #000;
    background-color: #eeeeee;
    text-transform: uppercase;
    text-decoration: none;
}

.form-filters__button:hover {
    background-color: #dfdfdf;
}

.form-filters__button:active {
    background-color: #d5d5d5;
    color: #a6a6a6;
}

.content__catalog-wrapper {
    width: 760px;
    margin-left: auto;
    margin-bottom: 60px;
}

.catalog__sorting {
    display: flex;
    margin-bottom: 54px;
}

.catalog__title {
    margin: 0;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.catalog__sorting-list {
    margin: 0;
    padding: 0;
    margin-left: 271px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 280px;
    justify-content: space-between;
}

.catalog__sorting-item {
    font-size: 14px;
    line-height: 18px;
}

.catalog__sorting-link {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;

    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    opacity: .3;

    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}

.catalog__sorting-link:hover {
    opacity: .6;
}

.catalog__sorting-link:active {
    opacity: 1;
}

.catalog__sorting-buttons {
    margin: 0;
    padding: 0;
    margin-left: auto;
    list-style: none;
    display: flex;
    flex-basis: 42px;
    justify-content: space-between;
}

.catalog__sorting-button {
    display: flex;
    opacity: .2;

    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}

.catalog__sorting-button:hover {
    opacity: .5;
}

.catalog__sorting-button:active,
.catalog__sorting-button:focus,
.catalog__sorting-img:active {
    opacity: 1;
}

.cards__list {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cards__item {
    display: flex;
    flex-direction: column;

    margin-bottom: 33px;
    position: relative;

    -webkit-transition: box-shadow .5s;
    -moz-transition: box-shadow .5s;
    -ms-transition: box-shadow .5s;
    -o-transition: box-shadow .5s;
    transition: box-shadow .5s;
}

.cards__browser {
    margin: 0;
    height: 40px;
    display: flex;
    opacity:.12;

    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}

.cards__item:hover {
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}

.cards__item:hover .cards__browser,
.cards__item:hover .cards__popup {
    opacity: 1;
}

.cards__popup {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}

.cards-popup {
    padding-top: 27px;
    padding-bottom: 43px;
    background-color: #eeeeee;
    opacity: 0;
}

.cards-popup__title,
.cards-popup__description {
    margin: 0;
}

.cards-popup__title {
    margin-bottom: 12px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.cards-popup__description {
    line-height: 18px;
    /*max-width: 200px;*/
    text-align: center;
    margin-bottom: 30px;
}

.cards-popup__button {
    padding: 16px 60px;
}

.pagination__list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 445px;

    list-style: none;
}

.pagination__button {
    padding: 16px 21px;
    background-color: #eeeeee;
    color: #000;
}

.pagination__button--next {
    padding: 16px 78px;
}

.pagination__button--active {
    background-color: transparent;
    -webkit-box-shadow: inset 0 0 0 3px #dbdbdb;
    -moz-box-shadow: inset 0 0 0 3px #dbdbdb;
    box-shadow: inset 0 0 0 3px #dbdbdb;
    /*box-sizing: border-box;*/
    /*border: 3px solid #dbdbdb;*/
    /*border-radius: 3px;*/
}

.pagination__button:hover {
    background-color: #dfdfdf;
}

.pagination__button:active {
    background-color: #d5d5d5;
    color: #a8a8a8;
}

.overlay {
    position: fixed;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: none;
}

/*@keyframes bounce {
    0% { transform: translate(-50%, -2000px); }
    60% { transform: translate(-50%, -35%); }
    70% { transform: translate(-50%, -40%); }
    80% { transform: translate(-50%, -45%); }
    90% { transform: translate(-50%, -55%); }
    93% { transform: translate(-50%, -60%); }
    96% { transform: translate(-50%, -55%); }
    100% { transform: translate(-50%, -50%); }
}

@keyframes rotate {
    0% { transform: rotateX(0deg); }
    10% { transform: rotateX(60deg); }
    20% { transform: rotateX(120deg); }
    40% { transform: rotateX(240deg); }
    70% { transform: rotateX(300deg); }
    100% { transform: rotateX(360deg); }
}*/

.modal-show {
    display: block;
}

.anim-show {
    animation: rotate 0.6s forwards, opacity 0.6s forwards;
}

.anim-hide {
    animation: opacityreverse 0.6s forwards, rotatereverse 0.6s forwards;
    /*animation-name: opacityreverse;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;*/
}

.modal-hide {
    display: none;
}
